  <!DOCTYPE html>
  <html>
    <head>
      <title>Members Page</title>
      <style>
        body {
          background-image: url("<%= backgroundImage %>");
          background-repeat: no-repeat;
          background-size: cover;
          background-color: black;
        }
        h1, h5 {
          color: white;
        }
        a {
          color: white;
        }
        li {
          color: white;
        }
      </style>
    </head>
    <body>
       <%- include('partials/header.ejs'); %>
       <%- include('partials/navbar.ejs'); %>

      <h5>Welcome, <%= username %>!</h5>

      <br />
      <a href="/logout">Logout</a>
           <%- include('partials/footer.ejs'); %>

    </body>
  </html>
